.main-title {
  margin: 10% 0;
  color: #82BB23;
  text-align: center;
}

.submit-button {
  margin: 10% 0;
}

.checkbox {
  text-align: center;
}

fieldset {
  margin-top: 10%;
}

.submit-button-container {
  text-align: center;
}

.submit-button {
  background: #82BB23;
  color: #fff;
}

.submit-button:hover {
  background: transparent;
  border-color: #82BB23;
}

ul {
  list-style: none;
  padding: 0;
}

.quotes {
  display: inline-block;
}

.url {
  font-weight: bold;
}

.url-input {
  margin-top: 15px;
  width: 80%;
  float: left;
}

.add-input {
  margin-left: 30px;
  color: #82BB23;
}

.delete-input {
  margin-top: 25px;
  margin-left: 15px;
  color: red;
  float: left;
}

.delete-input-button {
  padding-top: 5px;
}

.h1-titles {
  margin: 5% 0;
  color: #82BB23;
  text-align: center;
}

.effect {
  color: #82BB23;
}

.error-title, h3 {
  color: #82BB23;
  text-align: center;
}


}
